.intro {
   display: flex;
   height: 77vh;
   margin-top: 6rem;

   a {
      width: fit-content;
   }

   .i-left {
      display: flex;
      position: relative;
      flex: 1;
      flex-direction: column;

      .i-name {
         display: flex;
         flex-direction: column;
         & > :nth-child(1) {
            font-size: 3rem;
            font-weight: bold;
            color: var(--black);
         }
         & > :nth-child(2) {
            font-size: 3rem;
            font-weight: bold;
            color: var(--orange);
         }
         & > :nth-child(3) {
            font-weight: 100;
            font-size: 14px;
            color: var(--gray);
            margin: 2.2% 0;
         }

         .i-button {
            width: 7.85rem;
            height: 2.5rem;
            font-size: 0.85rem;
            font-weight: bolder;
         }

         .i-icons {
            margin-top: 3rem;
            display: flex;
            gap: 0rem;
            & > * {
               transform: scale(0.65);
            }
            & > *:hover {
               cursor: pointer;
            }
         }
      }
   }

   .i-right {
      flex: 1;
      position: relative;
      & > * {
         position: absolute;
         z-index: 1;
      }
      & > :nth-child(1) {
         transform: scale(0.69);
         left: -15%;
         top: -9%;
      }
      & > :nth-child(2) {
         transform: scale(0.67);
         top: -4.6rem;
         left: -3rem;
      }
      & > :nth-child(3) {
         transform: scale(1.4);
         left: 28.1%;
         top: 0.5%;
      }
      & > :nth-child(4) {
         transform: scale(0.6);
         top: -19%;
         left: -24%;
         border-radius: 50%;
         padding: 0;
      }
      .blur {
         position: absolute;
         width: 22rem;
         height: 14rem;
         border-radius: 50%;
         background: #edd0ff;
         filter: blur(72px);
         z-index: -999;
         top: -18%;
         left: 56%;
      }
   }
}

@media screen and (max-width: 480px) {
   .floating2 {
      margin-top: 1rem;
   }
   .intro {
      position: relative;
      margin-bottom: 20rem;
      flex-direction: column;
      margin-top: 2rem;
      text-align: center;
      height: 36rem;
      button,
      a {
         margin: auto;
      }
      #subSpan {
         line-height: 20px;
         width: 70%;
         margin: 1.2rem auto;
      }
      .i-left {
         align-items: center;
         justify-content: center;
         width: 95%;
      }
      .i-right {
         transform: scale(0.75);
         left: -4.5rem;
         margin-top: 8rem;
         & > :nth-child(3) {
            position: absolute;
            transform: scale(1.4);
            margin-top: 0.5%;
            left: 52.5%;
         }
         .floating-div {
            &:nth-of-type(1) {
               top: -7rem !important;
            }
         }
      }
   }
}
@media screen and (width: 360px) {
   .intro {
      .i-right {
         position: relative;
         & > :nth-child(3) {
            position: absolute;
            left: 56%;
            top: 130%;
         }
      }
   }
}
@media only screen and (min-width: 481px) and (max-width: 820px) {
   .intro {
      height: 50vh;
      flex-direction: column;
      text-align: center;
      width: max-content;
      margin: 2rem auto;
      button,
      a {
         margin: auto;
      }
      .i-right {
         position: relative;
         width: 100%;
         & > * {
            margin-top: 5rem;
         }
         .floating-div {
            &:nth-of-type(1) {
               top: -70% !important;
               left: 65% !important;
            }
         }
         & > :nth-child(3) {
            position: absolute;
            left: 38%;
            top: 1%;
         }
      }
   }
}
